<div class="pcoded-navigation-label">Menu <%= groupid %></div>
<ul class="pcoded-item pcoded-left-item">
    <li class="home/<%= func %>/<%= groupid %>">
        <a href="" class="waves-effect waves-dark">
            <span class="pcoded-micon">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">List Accounts</span>
        </a>
    </li>
</ul>