<div class="dropdown-primary dropdown">
    <div class="dropdown-toggle" data-bs-toggle="dropdown" id="id_profile">
        <img src="/Template/files/assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
        <span>John Doe</span>
        <i class="feather icon-chevron-down"></i>
    </div>
    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn"
        data-dropdown-out="fadeOut">
        <li>
            <a href="/profile">
                <i class="feather icon-user"></i> Profile
            </a>
        </li>
        <li>
            <a href="#" onclick="logout();return false;">
                <i class="feather icon-log-out"></i> Logout
            </a>
        </li>
    </ul>
</div>