<li class="header-search">
    <div class="main-search morphsearch-search">
        <div class="input-group">
            <span class="input-group-text search-close">
                <i class="feather icon-x input-group-text"></i>
            </span>
            <input type="text" class="form-control" placeholder="Enter Keyword">
            <span class="input-group-text search-btn">
                <i class="feather icon-search input-group-text"></i>
            </span>
        </div>
    </div>
</li>
<li>
    <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
        <i class="full-screen feather icon-maximize"></i>
    </a>
</li>