/* Table css */
.table-container {
    max-height: 600px;
    overflow-y: auto;
    border: 0px solid #ccc;
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 100;
}
th, td {
    /* padding: 10px; */
    text-align: left;
    border-bottom: 1px solid #cecece;
}

.cal-time{
    height: 20px;
    font-size: 14px;
}