<div class="page-body">
    <!-- Config. table start -->
    <div class="card">
        <div class="card-header">
            <h5>My Shop List <%= groupid %>
            </h5>
            <span></span>
        </div>
        <div class="card-block">
            <table id="table-data" class="table display">
            </table>
        </div>
    </div>
    <!-- Config. table end -->
</div>

<script>
$(document).ready(function() {
    console.log("START ME");
});
</script>